@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  font-family: "Manrope";

}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}


.theme-options {
  padding: 0;
  margin: 0;
  text-align: right;
  width: 100%;
  top: 0;
}

.selectBox {
  height: 25px;
  width: 25px;
  cursor: pointer;
  opacity: 0.3;
  display: block;
}

.greyOrange {
  background: rgb(136, 136, 136);
}

.greyOrange:hover {
  opacity: 1;
}

.selectGreyOrange {
  background: #4f4f4f;
}

.react-iconsselectGreyOrange {
  color: rgba(255, 113, 34, 1);
  padding-left: 5px;
  padding-right: 5px;
}

.teal {
  background-color: rgb(122, 199, 207);
}

.teal:hover {
  opacity: 1;
}

.selectTeal {
  background: rgba(122, 199, 207, 0.6);
}

.react-iconsselectTeal {
  color: rgba(62, 151, 147, 1);
  padding-left: 5px;
  padding-right: 5px;
}

.yellow {
  background-color: rgb(255, 241, 164);
}

.yellow:hover {
  opacity: 1;
}

.selectYellow {
  background: rgba(248, 199, 70, 1);
}

.react-iconsselectYellow {
  color: rgba(248, 199, 70, 1);
  padding-left: 5px;
  padding-right: 5px;
}

.red {
  background-color: rgb(215, 109, 92);
}

.red:hover {
  opacity: 1;
}

.selectRed {
  background: rgba(255, 207, 183, 0.6);
}

.react-iconsselectRed {
  color: rgba(221, 78, 40, 1);
  padding-left: 5px;
  padding-right: 5px;
}

.purple {
  background-color: rgb(184, 153, 234);
}

.purple:hover {
  opacity: 1;
}

.selectPurple {
  background: rgba(189, 116, 208, 0.6);
}

.react-iconsselectPurple {
  color: rgba(129, 16, 87, 1);
  padding-left: 5px;
  padding-right: 5px;
}

/* GRIDS */
.gridsContainer {
 
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:375px;
  align-items: center;
  /* padding-left:20px;
  padding-right:20px; */
  justify-content: flex-end;
  background-repeat: no-repeat;
 background-size:contain;
 
  /* box-sizing: border-box; */
  /* position: absolute; */
  /* bottom: 0;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px; */
}

/* First Row Container */
.gridPersonalInfoContainer {
  
  text-align: center;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
 
  padding-bottom: 10px;
  border-radius: 15px;
  line-height: 0.4vw;
  background: rgba(126, 39, 12, 0.4);
  box-shadow: 3px 3px 25px rgba(35, 37, 37, 0.31);
  backdrop-filter: blur(10px);
  width:70%
}

.gridPersonalInfoContainer h3 {
  font-size: 30px;
}

.gridPersonalInfoContainer p {
  font-size: 10px;
  line-height: 12px;
}

/* Second Row Container */
.gridShareContainer {
  display: table;
  text-align: center;
  letter-spacing: 0em;
  margin-top: 10px;
  
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.gridShareContainer h4 {
  display: inline-block;
  
}

.column {
  text-align: center;
  display: table-cell;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Third Row Container */
.gridContactContainer {
  text-align: center;
  letter-spacing: 0em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  width:90%;
  
}

.gridContactContainer::-webkit-scrollbar {
  display: none;
}

.contactMethod {
  text-align: center;
  letter-spacing: 0em;
  margin-left: 6px;
  margin-right: 6px;
  color: white;
  border-radius: 15px;
  width: 100%;
  display: grid;
}

.logo {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

.contactMethod h4 {
  margin: 0;
  padding-bottom: 55px;
  padding-top: 15px;
}

/* Fourth Row Container */
.gridAppContainer {
  color: white;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  width:85%;
  margin-bottom:30px
}

.gridAppContainer::-webkit-scrollbar {
  display: none;
}

.app {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1px;

}

@media only screen and (min-width: 480px) {
}
