.selectGreyOrangegridsContainer {
    > :first-child {
        background: rgba(110, 115, 123, 0.6);
    }
    > div:nth-child(2) {
        background: linear-gradient(272.77deg, #413F3C 0%, rgba(217, 217, 217, 0.2) 20%,rgba(217, 217, 217, 0.2) 80%, #413F3C 100%);
    }
    > div:nth-child(3) {
      > .contactMethod {
        background: rgba(41, 41, 41, 0.63);
      }
    } 
    > :last-child {
      > .app {
        background: rgba(41, 41, 41, 0.63);
      }
    }
  }
  .selectGreyOrangeupperPic{
    background-image: url("../public/greyOrangePic.webp");
  }
  .selectGreyOrangelowerPic{
    background-color: #4f4f4f;
  }

  .selectTealgridsContainer {
    > :first-child {
        background: rgba(29, 118, 128, 0.3);
    }
    > div:nth-child(2) {
        background: linear-gradient(272.77deg, #154A50 0%, rgba(217, 217, 217, 0) 20%,rgba(217, 217, 217, 0) 20%, #154A50 100%);
    }
    > div:nth-child(3) {
      > .contactMethod {
        background: rgba(41, 41, 41, 0.63);
      }
    }
    > :last-child {
      > .app {
        background: rgba(41, 41, 41, 0.63);
      }
    }
  }
  .selectTealupperPic{
    background-image: url("../public/tealPic.jpeg");

  }
  .selectTeallowerPic{
    background-image: url("https://s3-alpha-sig.figma.com/img/6f08/ce87/4be7c779aa882dddef8ea9c781f369c8?Expires=1683504000&Signature=AapKzmMd9SpDaEFTXHbKHh63S-JfHlfZptRmrX-J9mDrJte-M6EBQNPqG32WjjrWIsMjT3DSnJXTuk3SDXdD9fEIqloJHBb5h0X4QqkmmTT7n3Guoh9E~CXN9TCgKx1qeNRvhEtDYP0-Zg3w1X~LFMHfgChje6Jt7mYyMiu2lGDR7iHo37qsV9smEAjHQptojdGCkI8LGGZa3vhgi6WE-h2Zrre8PjQzuK51ceF4gmcY0hTIYYA81loBfPa~zf6y2hvo0psmFqtE-a4bPm-kIliz6fQNdm3DfQNueam5x6U2Re-EXmvMOWs~CsOogmYOKyFfmETnZuaHkZG4zTM1iA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    box-shadow: inset 0 0 0 1000px rgba(28, 112, 135, 0.3);
    
}
  
  .selectYellowgridsContainer {
    > :first-child {
        background: rgba(192, 181, 91, 0.4);
    }
    > div:nth-child(2) {
        background: linear-gradient(272.77deg, #8E6A0D 0%, rgba(217, 217, 217, 0) 20%, rgba(217, 217, 217, 0) 80%,#8E6A0D 100%);

    }
    > div:nth-child(3) {
      > .contactMethod {
        background: linear-gradient(279.43deg, #8E6A0D -3.34%, rgba(243, 196, 74, 0.4) 112.87%);
      }
    }
    > :last-child {
      > .app {
        background: rgba(171, 131, 29, 0.7);
      }
    }
  }
  .selectYellowupperPic{
    background-image: url("../public/yellowPic.webp");
  }
  .selectYellowlowerPic{
    background-image: url("https://s3-alpha-sig.figma.com/img/6f08/ce87/4be7c779aa882dddef8ea9c781f369c8?Expires=1683504000&Signature=AapKzmMd9SpDaEFTXHbKHh63S-JfHlfZptRmrX-J9mDrJte-M6EBQNPqG32WjjrWIsMjT3DSnJXTuk3SDXdD9fEIqloJHBb5h0X4QqkmmTT7n3Guoh9E~CXN9TCgKx1qeNRvhEtDYP0-Zg3w1X~LFMHfgChje6Jt7mYyMiu2lGDR7iHo37qsV9smEAjHQptojdGCkI8LGGZa3vhgi6WE-h2Zrre8PjQzuK51ceF4gmcY0hTIYYA81loBfPa~zf6y2hvo0psmFqtE-a4bPm-kIliz6fQNdm3DfQNueam5x6U2Re-EXmvMOWs~CsOogmYOKyFfmETnZuaHkZG4zTM1iA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    box-shadow: inset 0 0 0 1000px rgba(254, 215, 43, 0.7);
 
  }

   
  .selectRedgridsContainer {
    > :first-child {
        background: rgba(126, 39, 12, 0.4);
    }
    > div:nth-child(2) {
        background: linear-gradient(272.77deg, #A64324 -3.71%, rgba(131, 50, 39, 0.494166) 72.75%, rgba(37, 50, 39, 0.1) 100.89%);
    }
    > div:nth-child(3) {
      > .contactMethod {
        background: linear-gradient(279.43deg, rgba(172, 50, 25, 0.5) -3.34%, rgba(109, 157, 151, 0.5) 112.87%);
      }
    }
    > :last-child {
      > .app {
        background: linear-gradient(112.58deg, rgba(162, 175, 148, 0.424) 18.33%, rgba(210, 60, 12, 0.368) 87.38%);
      }
    }
  }
  .selectRedupperPic{
    background-image: url("../public/rePic.webp");
  }
  .selectRedlowerPic{
    background-image: url("https://s3-alpha-sig.figma.com/img/6f08/ce87/4be7c779aa882dddef8ea9c781f369c8?Expires=1683504000&Signature=AapKzmMd9SpDaEFTXHbKHh63S-JfHlfZptRmrX-J9mDrJte-M6EBQNPqG32WjjrWIsMjT3DSnJXTuk3SDXdD9fEIqloJHBb5h0X4QqkmmTT7n3Guoh9E~CXN9TCgKx1qeNRvhEtDYP0-Zg3w1X~LFMHfgChje6Jt7mYyMiu2lGDR7iHo37qsV9smEAjHQptojdGCkI8LGGZa3vhgi6WE-h2Zrre8PjQzuK51ceF4gmcY0hTIYYA81loBfPa~zf6y2hvo0psmFqtE-a4bPm-kIliz6fQNdm3DfQNueam5x6U2Re-EXmvMOWs~CsOogmYOKyFfmETnZuaHkZG4zTM1iA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    box-shadow: inset 0 0 0 1000px rgba(214, 70, 37, 0.4);
  }

   
  .selectPurplegridsContainer {
    > :first-child {
        background: rgba(15, 7, 25, 0.5);
    }
    > div:nth-child(2) {
        background: linear-gradient(272.77deg, rgba(31, 3, 33, 0.516) -1.7%, rgba(40, 53, 42, 0.6) 100.89%);
    }
    > div:nth-child(3) {
      > .contactMethod {
        background: linear-gradient(272.77deg, rgba(49, 8, 34, 0.6) -1.7%, rgba(89, 109, 123, 0.324) 100.89%);
      }
    }
    > :last-child {
      > .app {
        background: linear-gradient(272.77deg, rgba(48, 37, 99, 0.6) -1.7%, rgba(154, 163, 169, 0.324) 100.89%);
      }
    }
  }
  .selectPurpleupperPic{
    background-image: url("../public/purplePic.webp");
  }
  .selectPurplelowerPic{
    background-image: url("https://s3-alpha-sig.figma.com/img/6f08/ce87/4be7c779aa882dddef8ea9c781f369c8?Expires=1683504000&Signature=AapKzmMd9SpDaEFTXHbKHh63S-JfHlfZptRmrX-J9mDrJte-M6EBQNPqG32WjjrWIsMjT3DSnJXTuk3SDXdD9fEIqloJHBb5h0X4QqkmmTT7n3Guoh9E~CXN9TCgKx1qeNRvhEtDYP0-Zg3w1X~LFMHfgChje6Jt7mYyMiu2lGDR7iHo37qsV9smEAjHQptojdGCkI8LGGZa3vhgi6WE-h2Zrre8PjQzuK51ceF4gmcY0hTIYYA81loBfPa~zf6y2hvo0psmFqtE-a4bPm-kIliz6fQNdm3DfQNueam5x6U2Re-EXmvMOWs~CsOogmYOKyFfmETnZuaHkZG4zTM1iA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    box-shadow: inset 0 0 0 1000px  rgba(192, 14, 127, 0.3);
  }

  
  