.upperPic {
  background-image: url("https://neural.love/cdn/ai-photostock/1ed9da30-c5f3-6b2e-932f-5da3bae3454f/0.jpg?Expires=1685577599&Signature=bUrrQUpTfxCmDy9rxqlMHLRtis7jYcv7HuEaFk42o07kX-QSRJKZshcn6KDaKiYZTTTtfBhak1Wq9KVzPAn5~ZMkqnb0YcSblWmfjco60SIHkOzgQ2hyJ3c4A0GJQfo~XMiC5unkyk3Xi~TXVA9UZ5HFkJLMLAH2UtfZI1scoeeMK4ji9OAB9rz3R-mqvtu8aUhNIZ6OwwC-rYyIh1VLCRf93tSldXOElq9oJ4JNxgFpKvtche2QfTVNGMprYVVKOixRSeNt8hj76Cv08IyWbqpEs0fkUBm2U8NSTCPffvWkhwgQW0eRJNrXDkZ71sb8x3vnjsin7R7KwdkubudLDA__&Key-Pair-Id=K2RFTOXRBNSROX");
  background-repeat: no-repeat;
  width: 100%;
  height: 46%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.lowerPic {
  background-image: url("https://garden.spoonflower.com/c/7813492/p/f/m/Tz39lpcSGoJZ6oFMPNmT1FzhqtZsMdKcU2wfw2ruC0AoUbo_miyxzmAw/CSMC28%20-%20Rustic%20Teal%20Green%20Pastel%20Sandstone%20Texture.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 54%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.theme-options {
  padding: 0;
  margin: 0;
  text-align: right;
  width: 100%;
  position: absolute;
  top: 0;
}

.selectBox {
  height: 25px;
  width: 25px;
  cursor: pointer;
  opacity: 0.8;
  display: inline-block;
}

.teal {
  background-color: rgb(122, 199, 207);
}

.teal:hover {
  opacity: 1;
}

.greyOrange {
  background-color: rgb(102, 100, 108);
}

.greyOrange:hover {
  opacity: 1;
}

.yellow {
  background-color: rgb(255, 241, 164);
}

.yellow:hover {
  opacity: 1;
}

.red {
  background-color: rgb(215, 109, 92);
}

.red:hover {
  opacity: 1;
}

.purple {
  background-color: rgb(184, 153, 234);
}

.purple:hover {
  opacity: 1;
}

.gridsContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

.gridPersonalInfoContainer {
  text-align: center;
  letter-spacing: 0em;
  text-align: center;
  margin: 15px;
  background: rgba(110, 115, 123, 0.6);
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
   line-height: 1vw;
  
 
}

.gridPersonalInfoContainer p,h3,h6{
  line-height: 10px;
}

.gridPersonalInfoContainer p {
  font-size: 10px;
  line-height: 10px;
}

.gridShareContainer {
  display: table;
  text-align: center;
  letter-spacing: 0em;
  margin: 15px;
  background: rgba(110, 115, 123, 0.6);
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  display: flex;
  

}

.vl {
  border-left: 2px solid rgb(255, 255, 255);
  height: 30px;
  width:100%;
  
}

.gridShareContainer h4 {
  display: inline-block;
}

.column{
  display: table-cell;
 padding-right: 40px;
}

.gridContactContainer {
  text-align: center;
  letter-spacing: 0em;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}

.contactMethod {
  text-align: center;
  display: inline-block;
  letter-spacing: 0em;
  background: rgba(110, 115, 123, 0.6);
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 20%;

}

.contactMethod h4 {
  display: inline-block;
}

.gridAppContainer {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  padding-top: 10px;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}

.app {
  text-align: center;
  background: rgba(110, 115, 123, 0.6);
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  height: 10%;
}

.app h4 {
  text-align: center;
}

@media only screen and (min-width: 480px) {
}
